.jsl-inline-flex {
  display: inline-flex;
}
.jsl-flex {
  display: flex;
}

.jsl-flex-direction {
  &-column {
    flex-direction: column;
  }
  &-row {
    flex-direction: row;
  }
  &-column-reverse {
    flex-direction: column-reverse;
  }
  &-row-reverse {
    flex-direction: row-reverse;
  }
}
.jsl-flex-warp {
  flex-wrap: wrap;
}
.jsl-align-items {
  &-center {
    align-items: center;
  }
  &-start {
    align-items: flex-start;
  }
  &-end {
    align-items: flex-end;
  }
  &-baseline {
    align-items: baseline;
  }
  &-stretch {
    align-items: stretch;
  }
}

.jsl-fade-enter-active,
.jsl-fade-leave-active {
  transition: opacity 0.3s;
}

.jsl-fade-enter-from,
.jsl-fade-leave-to {
  opacity: 0;
}
.jsl-overflow-hidden {
  overflow: hidden;
}
